*{
    margin:0px;
    box-sizing: border-box;
}

body, html {
    height: 90vh;
 
}

.all{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 95vh;
}
.bloc_img{
    width: 60%;
    height: 100%;
    background-image: url("../img/accueil1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bloc_accueil{
    /* background-color: #45a049; */
    width: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.logo{
    margin-bottom: 5px;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    background-color: #f6f6f6;
}

.login{
    padding: 20px;
    background-color: rgb(208, 214, 223);
    width: 250px;
    border-radius: 10px;
    margin-left: 20px;
}

.login_h3{
    text-align: left;
    font-weight: bold;
    color: #4b0433;
    font-size: 20px;
}

.login_txt{
    text-align: left;
    color: rgb(71, 71, 71);
    font-size: 12px;
    margin-bottom: 5px;
}

.signup{
    color: azure;
    padding: 20px;
    background-color: rgb(58, 4, 54);
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 20px;
}
.signup_h3{
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.signup_txt{
    text-align: left;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 5px;
}

button[type=submit] {
  
    width: 50%;
    background-color: rgb(40, 81, 156);
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.bn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button[type=submit]:hover {
    background-color: #45a049;
  }

input[type=text]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}

input[type=password]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}

.pwdforgot{
    background-color: #f8f7f7;
    font-size: small;
    margin-top: 5px;
    margin-left: 20px ;
    margin-bottom: 5px;
    margin-right: 35px;
    text-align: right;
    border-radius: 5px;
    width: 250px;
    color: rgb(83, 83, 83);
    

}

.errormessage{
    text-align: center;
    margin-bottom: 10px;
    font-size: large;
    color:rgb(173, 0, 9);

}

.lien_gallery{

    background-color: #cecece;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #f6f6f6;
    font-size: 18px;
    padding-top: 13px;
    
    
}

.lien_gallery:hover{

    background-color: #189100;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #f6f6f6;
    font-size: 18px;
    padding-top: 13px;
    
    
}
a:link {
     text-decoration: none;
  }
  


@media only screen and (max-width: 600px) {

*{
    margin:0px;
    box-sizing: border-box;
}

body, html {
   
 
}

.all{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 150%;
}
.bloc_img{
    width: 100%;
    height: 50%;
   
    background-image: url("../img/accueil1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bloc_accueil{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    width: 100%;
    height: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.logo{
    margin-bottom: 5px;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    background-color: #f6f6f6;
}

.login{
    padding: 20px;
    background-color: rgb(208, 214, 223);
    width: 250px;
    border-radius: 10px;
    margin-left: 20px;
}

.login_h3{
    text-align: left;
    font-weight: bold;
    color: #4b0433;
    font-size: 20px;
}

.login_txt{
    text-align: left;
    color: rgb(71, 71, 71);
    font-size: 12px;
    margin-bottom: 5px;
}

.signup{
    color: azure;
    padding: 20px;
    background-color: rgb(58, 4, 54);
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 20px;
}
.signup_h3{
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.signup_txt{
    text-align: left;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 5px;
}

button[type=submit] {
  
    width: 50%;
    background-color: rgb(40, 81, 156);
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.bn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button[type=submit]:hover {
    background-color: #45a049;
  }

input[type=text]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}

input[type=password]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}

.pwdforgot{
    background-color: #e6e3e3;
    font-size: small;
    margin-top: 5px;
    margin-left: 50px ;
    margin-bottom: 5px;
    margin-right: 35px;
    text-align: right;

    border-radius: 5px;
    width: 250px;

}

.errormessage{
    text-align: center;
    margin-bottom: 10px;
    font-size: large;
    color:rgb(173, 0, 9);

}
}