body, html {
    height: 100%;
    margin: 0px;
    background-image: url("../img/accueil1.jpg");
    height: 100vh;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}

.stmt{
    font-size: larger;
    background-color: bisque;
    border-radius: 10px;
    padding: 5px;
}

.bloc1{
    display: flex;
    margin-top: 5%;
    margin-right: 50% ; 
    flex-direction: column;
    align-items: center; 

}

.logo{
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f6f6f6;

}

.login{
   
    padding: 20px;
    background-color: rgb(208, 214, 223);
    width: 250px;
    border-radius: 10px;
}

.signup{
    color: azure;
    padding: 20px;
    background-color: rgb(58, 4, 54);
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
}

button[type=submit] {
  
    width: 50%;
    background-color: rgb(40, 81, 156);
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.bn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button[type=submit]:hover {
    background-color: #45a049;
  }

input[type=text]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}

input[type=password]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}