*{
    margin:0px;
    box-sizing: border-box;
}

body {
    background-color:rgb(230, 230, 230)
}
.all_image{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.showbloc_image{
    /* background-color: #d1aaaa; */
    width: 100%;



}

.titre_image{
    /* background-color: rgb(33, 83, 83); */
   
    color: rgb(19, 6, 66);
    text-align: left;
    margin-top: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
 
    
}

.show_image{
    /* background-color: rgb(102, 10, 74); */
    width: 100%;
    display: flex;
    justify-content: center;
}




.icons_image{

    /* background-color: rgb(204, 132, 24); */
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.liked_image{
    font-size: 20px;
    color: #460357;
    text-align: center;
    display: flex;
    align-items: center;
    width: 60px;
    /* background-color: #246927; */

}

.croix_image{
    /* background-color: #3edd46; */
    width:30px;
    text-align: center;

}

.comments_image{

    /* background-color: rgb(87, 87, 180); */
    width: 60%;
    height: 250px;
    margin-top: 50px;
    padding-bottom: 50px;
    
}



.txt_zone{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 170px;
    text-decoration : none;

}


.show_comments{
    /* background-color: rgb(131, 57, 109); */
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;  
    
    
}

button[type=submit] {
  
    width: 160px;
    background-color: rgb(40, 81, 156);
    color: white;
    padding: 14px 14px;
    align-items: flex-end;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.btn_comment{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button[type=submit]:hover {
    background-color: #45a049;
  }

.message_image{
    margin-top: 10px;
    text-align: center;
    font-size: medium;
    color:rgb(173, 0, 9);

}
