*{
    margin:0px;
    box-sizing: border-box;
}

.all_profile{

    width: 100%;
    height: 90vh;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.env_form{
    margin:30px;
    width: 70%;
    height: 400px%;
    /* height: 345px; */
    /* background-color: rgb(69, 109, 96); */
    display: flex;
    justify-content:center;
}

.photo_form{
    width: 30%;
    
    background-color: rgba(123, 138, 133, 0.37);

}

.content_form{

    width: 60%;
  
    background-color: rgb(234, 237, 238);
}

.titre_form_profile{
    margin-top: 10px;
    margin-bottom: 20px;;
    font-size: 25px;
    color: #6d0c68;
    text-align: center;
}

input[type=text],[type=email],[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #1a92a7;
    color: white;
  }

  label[for=email], [for=uid],[for=password],[for=notification]{
    color: #1a92a7;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 18px;
  }
  
  button[type="submit_profile"]{
   
    width: 20%;
    padding: 12px 20px;
    border: none;
    background-color: #6d0c68;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 100px;
  }

  button:hover[type="submit_profile"]{
    font-weight: 600;
    width: 20%;
    padding: 12px 20px;
    border: none;
    background-color: #1a92a7;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 100px;
  }


  .btn_profile{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    /* margin-bottom: 30px; */
  }
 
  .text_r{
    text-align: right;
    margin-right: 10px;
    color: #909596;
  }

  .txt_pwd{
    color: #1a92a7;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 18px;
    

  }
  
  a {
    color: #1a92a7;
    text-decoration: none;
  }

  h3[type=text]{
    margin-top: 20px;
    margin-bottom: 20px;;
    font-size: 25px;
    color: #6d0c68;
    text-align: center;
  }




@media only screen and (max-width: 600px) {

    *{
        margin:0px;
        box-sizing: border-box;
    }

    .all_profile{

        width: 100%;
        height: 150%;
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .env_form{
        margin:30px;
        width: 90%;
        /* height: 345px; */
        /* background-color: rgb(69, 109, 96); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .photo_form{
        width: 100%;
        height: 345px;
        background-color: rgba(123, 138, 133, 0.37);
    
    }
    
 .content_form{

    width: 100%;
  
    background-color: rgb(234, 237, 238);
}

.titre_form_profile{
    margin-top: 20px;
    margin-bottom: 10px;;
    font-size: 25px;
    color: #6d0c68;
    text-align: center;
}

input[type=text],[type=email],[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #1a92a7;
    color: white;
  }

  label[for=email], [for=uid],[for=password],[for=notification]{
    color: #1a92a7;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 18px;
  }
  
  button[type="submit_profile"]{
   
    width: 20%;
    padding: 12px 20px;
    border: none;
    background-color: #6d0c68;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 180px;
 
  }

  button:hover[type="submit_profile"]{
    font-weight: 600;
    width: 20%;
    padding: 12px 20px;
    border: none;
    background-color: #1a92a7;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    
  }


  .btn_profile{
    display: flex;
    flex-direction: column;
    
    margin-right: 30px;
  }
 
  .text_r{
    text-align: right;
    margin-right: 10px;
    color: #909596;
  }

  .txt_pwd{
    color: #1a92a7;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 18px;
    

  }
  
  a {
    color: #1a92a7;
    text-decoration: none;
  }

  a:hover {
    color: #6d0c68;
    text-decoration: none;
  }

  h3[type=text]{
    margin-top: 20px;
    margin-bottom: 20px;;
    font-size: 25px;
    color: #6d0c68;
    text-align: center;
  }



}