*{
    margin:0px;
    box-sizing: border-box;
}
.all{
    /* background-color: aqua; */
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.group{
   
    width: 360px;
    height: 240px;
    padding: 30px;
    
   
}

.logo{
    width: 360px;
  
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f6f6f6;
}

.message{
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
    font-size: large;
    color:rgb(173, 0, 9);
    width: 360px;
}

.login{
    color: #4f0658;
    padding: 20px;
    background-color: rgb(222, 226, 233);
    width: 360px;
    border-radius: 10px;
}





.bloc{
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-align: center;
    color: brown;
    
}

button[type=submit] {
  
    width: 50%;
    background-color: rgb(40, 81, 156);
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.bn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button[type=submit]:hover {
    background-color: #45a049;
}

input[type=text]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}

input[type=password]{
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 5px;
}
 */
